.idea
/.idea/*
out
/out/*
.gitignore
.DS_Store

# spring/spring-boot-rmi
spring/spring-boot-rmi/.idea/
spring/spring-boot-rmi/build/
spring/spring-boot-rmi/.gradle/

# js_util/webpack-demo
js_util/webpack-demo/node_modules

# java/cas-demo
java/cas-demo/cas-client-1/.idea/

# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.iml
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
